# Ignore the virtual environment folder
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore VS Code settings (optional)
.vscode/

# Ignore environment settings (optional)
.env

# Ignore the database
db/vocab.db
