{% extends "layout.html" %}

{% block main %}

    <p>hello, wordgrowth</p>

    <h2>Database Results</h2>

    <div class="container mt-3">      
        <table class="table">
            <thead>
            <tr>
                <th>Word</th>
                <th>Definition</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
                {% for row in rows %}
            <tr>
                <td>{{ row["word"] }}</td>
                <td>{{ row["definition"] }}</td>
                <td><a href="{{ url_for('word_view', word_id=row['id']) }}">View</a></td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
